.skillHead {
  display: block;
  font-family: Bellota;
  color: #08272e;
  font-style: normal;
  font-weight: bold;
  font-size: 2.25rem;
  line-height: 45px;
  letter-spacing: 0.195em;
  margin: 3rem 0 0 3rem;
  text-align: center;
}

.skillCircle {
  height: max-content;
  justify-items: flex-end;
}

span {
  font-family: Raleway;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 144%;
  letter-spacing: 0.1rem;
  color: #0f4f5d;
}
.skillTitle {
  display: flex;
  width: 100%;
  font-family: Bellota;
  color: #08272e;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;

  line-height: normal;
}

.legendList {
  list-style: none;
  text-align: left;
}

.legend {
  display: inline-block;
  font-family: Bellota;
  color: rgba(0, 25, 50, 0.5);
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 45px;
  letter-spacing: 0.195em;
  margin: 1rem 0 0 3rem;
  border: 1px dashed rgba(0, 25, 50, 0.25);
  border-radius: 25%;
}

.gridItem {
  padding: auto 0;
  justify-items: flex-end;
}

@media (min-width: 480px) {
  .skillCircle {
    height: max-content;
    width: 75%;
    margin: 0 2rem;
  }
}

@media (min-width: 720px) {
  .skillTitle {
    font-size: 1.5rem;
  }
}

@media (min-width: 992px) {
  .skillTitle {
    font-size: 1.5rem;
  }
  .skillCircle {
    height: max-content;
    width: 50%;
    margin: 0 2rem;
  }
}
@media (min-width: 1440px) {
  .skillCircle {
    width: 50%;
    margin: 2rem;
  }
}
