.navBar {
  display: flex;
  flex: auto;
  position: sticky;
  background: radial-gradient(
    95% 29% at 50% 0,
    #000000 0,
    #010101 50%,
    #dce9fa 125%
  );
  overflow: hidden;
  align-items: center;
  justify-content: space-evenly;
  z-index: 2;
  padding-top: 1rem;
}

.logo {
  display: inline-block;
  width: 45%;
}

.icon {
  font-size: 2rem;
  padding: 1.5rem 1rem;
  color: rgba(0, 25, 50, 0.75);
}
