.title_container{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 100px 30px black;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    opacity: 0;

}

.title{
    text-align: center;
    color: #8FDBEC;
    padding: 0 1rem;
}

hr{
    border-color: #BDEAF4;
    margin: 0;
}

.quote{
    text-align: center;
    padding: 2rem 1.5rem 0;
    color: #8FDBEC;
    font-size: 1.2rem;

}

@media (min-width: 1044px){

    .title_container{
    right: 10%;
    width: 25%;
    }

}